PORT=3001
MONGO_URI=mongodb+srv://manalipanchal2404_db_user:manali1424@cluster0.ylpjlp5.mongodb.net/healthcare-manali
JWT_SECRET=dev_super_secret
FRONTEND_URL=http://localhost:5173
CLOUDINARY_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
RESEND_API_KEY=your_resend_key
STRIPE_SECRET=your_stripe_secret
EMAIL_USER=example@email.com
EMAIL_PASS=app_password_here

